<div *ngIf="!(getCompanySummaryListInProgress$ | async); else loading" class="container">
  <div class="row">
    <list-table
      [dataSource]="dataSource"
      [headElements]="headElements"
    ></list-table>
  </div>

  <div class="row">
    <list-paginator
      (page)="dataSource.changePagination($event)"
      [length]="dataSource.recordsCount$.getValue()"
      [pageIndex]="dataSource.pagination$.getValue().pageIndex"
      [pageSize]="paginationConfig.pageSize"
      [pageSizeOptions]="paginationConfig.pageSizeOptions"
    >
    </list-paginator>
  </div>
</div>

<ng-template #loading>
  <list-progress-spinner
    [color]="'primary'"
    [mode]="'indeterminate'"
    [value]="50"
  >
  </list-progress-spinner>
</ng-template>
